<html>
<head></head>
<link rel="stylesheet"type="text/href="soc4.css">
<style>
#id1{

          background-color: #EE82EE;
          border-radius: 20px;
          height:400px;
          width:300px;
          color: black;
          display: flex;
          justify-content: center;
          align-items: center;
}
#id2{
           border-radius: 20px;
}
#id3{
          border-radius: 20px;
}
#id4{
          border-radius: 20px;
}
#id5{
           border-radius: 20px;
}
a{
          color: white;
}
#one{
          align-items: center;
          justify-content: center;
          display: flex;
          height:850px;
}
</style>
<body>
    <div id="one"><div id="id1"><center><p><h1>SignUp</h1></p>
        <input type="text" id="id2" placeholder="Username"><br><br>
        <input type="password" id="id3"placeholder="New Password"><br><br>
        <input type="newpassword" id="id5" placeholder="Confirm Password"><br><br>
        <button id="id4">Signup</button><br>
 </div></body></html>
